body {
    background-color: rgb(224, 167, 60);
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
}
h1 {
    font-size: 5em;
    margin: 0;
    display: inline-block;
}
nav {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    
}
li {
    margin: 0 10px;
}
a{
    color: white;
    text-decoration: none;
}
.memory {
    background-color: rgb(43, 43, 157);
    font-size: 2em;
    color: white;
}
button {
    height: 3em;
    width:5em;
    font-size: .5em;
    text-transform: uppercase;
}
/* start of tic-tac-toe game*/
td {
    border : 2px solid white;
    height: 200px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
    background-color: rgb(169, 204, 135);
}
table {
    border-collapse: collapse;
    left: 50%;
}
.endgame {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(205, 133, 63, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}
/*simon css*/
.panel {
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 3px solid black;
    cursor: pointer;
    display: none;
}
.panel:hover {
    border: 5px solid white;
}
.panel.active {
    border: none;
    box-shadow: 0 0 10px white;
    filter: brightness(150%);
    
}
.top-panels {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    align-items: center;
}
.top-left-panel {
    border-top-left-radius: 200px;
    background-color: green;
}
.top-right-panel {
    border-top-right-radius: 200px;
    background-color: yellow;
}
.bottom-panels {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    align-items: center;
}
.bottom-left-panel {
    border-bottom-left-radius: 200px;
    background-color: red;
}
.bottom-right-panel {
    border-bottom-right-radius: 200px;
    background-color: blue;
}
.game-info {
    height: 50px;
    width: 100px;
    font-size: larger;
}