body {
    background-color: rgb(224, 167, 60);
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
}
h1 {
    font-size: 5em;
    margin: 0;
    display: inline-block;
}
nav {
    display: flex;
    justify-content: center; /* Center the navigation bar horizontally */
    margin-bottom: 20px; /* Add margin to the bottom for spacing */
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    
}
li {
    margin: 0 10px;
}
a{
    color: white;
    text-decoration: none;
}
ol {
    width: 300px;
    margin: auto;
    text-transform: none;
}
h2{
    top: 40%;
}
/* start of tic-tac-toe game*/
td {
    border : 2px solid white;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
    background-color: rgb(169, 204, 135);
}
table {
    border-collapse: collapse;
    margin: auto; /* Add this line to center the table */
    margin-top: 50px; /* Adjust margin-top as needed */
}

.endgame {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: rgba(205, 133, 63, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}
/*simon css*/
.panel {
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 3px solid black;
    cursor: pointer;
    display: none;
    margin-top: 25px;
}
.panel:hover {
    border: 5px solid white;
}
.panel.active {
    border: none;
    box-shadow: 0 0 10px white;
}
#green.active {
    filter: brightness(200%); /* Apply brightness increase for green panel */
}

#yellow.active {
    filter: brightness(200%); /* Apply brightness increase for yellow panel */
}

#red.active {
    filter: brightness(200%); /* Apply brightness increase for red panel */
}

#blue.active {
    filter: brightness(200%); /* Apply brightness increase for blue panel */
}
.top-panels {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.top-left-panel {
    border-top-left-radius: 200px;
    background-color: green;
    margin-right: 10px;
}
.top-right-panel {
    border-top-right-radius: 200px;
    background-color: yellow;
    margin-left: 10px;
}
.bottom-panels {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.bottom-left-panel {
    border-bottom-left-radius: 200px;
    background-color: red;
    margin-right: 10px;
}
.bottom-right-panel {
    border-bottom-right-radius: 200px;
    background-color: blue;
    margin-left: 10px;
}
.game-info {
    height: 50px;
    width: 100px;
    font-size: larger;
}
.gamePad {
    background-color: black;
    height: 485px;
    width: 485px;
    border-radius: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.startPad {
    background-color: lightgrey;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 3px solid black;
}
#startButton {
    margin-bottom: 10px;
    height: 25px;
}
#scoreDisplay {
    color: rgba(189, 33, 33, 0.751);
    font-size: 1em;
    font-weight: bolder;
}